#first {
   width: 500px;
   height: 500px;
   background: red;
   overflow: hidden;
  }
  #second{
      width: 30%;
      height: 30%;
      margin-top: auto;
      background: green;
   }
    #third{
       width: 30%;
       height: 30%;
       float: right;
       margin: -150px;
       margin-right: 0px;
       margin-left: 70px;
       background: rgb(233, 31, 199);
    }
    #four{
       width: 30%;
       height: 30%;
       margin-top: 200px;
       background: rgb(0, 2, 128);
    }
   #five{
       width: 30%;
       height: 30%;
       float:right;
       margin-top: -150px;
     
       background: rgba(233, 230, 31, 0.986);
    }
    #six{
       width: 30%;
       height: 30%;
       float: center;
       margin-top: -325px;
       margin-left: 175px;
     
       background: rgba(14, 245, 26, 0.986);
    }